<h2>About the Ultimate Football Predictor.</h2>
<p>The UFP is a unique football predictor league. 
    Rather than having to login on a weekly basis to update your predictions, you do it all at the start of the season. 
    You will then accumulate points based on the accuracy of your predictions.</p>
<p>It is this uniqueness which has pulled people back to enter in consecutive seasons since we started 12 years ago.</p>
<p>We ask you to make predictions on the Premier League, FA Cup, Champions League, The EFL and the English National League.</p>
<p>We have an ‘Invite a friend’ scheme which allows you to receive a £1 discount for each entrant who you have invited. This means that you can compete with your friends, the prize money will be larger, and you can enter for free if you invite 10 friends!</p>
<p>Our brand-new website will allow you to enjoy the UFP experience more so than ever. We now have a login system where users can track their progress during the course of the season, and the website is now more user-friendly in all of its functions. You can also enjoy The UFP from your mobile, tablet or computer.</p>
[Preview image of dashboard with relevant caption]
<p>In our 2017-18 season, we awarded £196 to our winner, £75 to second place and £31 to third place. Now that our running costs are much lower, and we still are not making a profit from your entry fee, we will be hoping for a more substantial prize pot.</p>
[Image of Tony & Stu with money with relevant caption]