@{
    ViewBag.Title = "Help";
}

<h2>FAQ</h2>

<h4>My entry</h4>
<p>Can I edit my predictions?</p>
    <ul>
        <li>Yes and no. You can edit your predictions up until the deadline by logging into your account, but then your answers will be locked for the rest of the season.</li>
    </ul>
<p>Can I enter more than once?</p>
    <ul>
        <li>No. We only allow one entry per person per season.</li>
    </ul>
<p>I want to pull out during the season. How can I do this?</p>
    <ul>
        <li>We’ll be sad to see you leave. Please get in touch to let us know that you no longer want to be involved. If you have paid for your entry, you can receive a refund if the deadline for entry has not passed. If it has passed, you may still be entitled to a refund if you are within the ‘cooling off’ period. Please see our rules for further details.</li>
    </ul>
<p>I do not live in the UK. Can I still enter The UFP?</p>
    <ul>
        <li>Yes. Your entry fee will be automatically converted to your currency when you pay for your entry.</li>
    </ul>

<h4>My account</h4>
<p>I am unable to log in. How can I get access to my account?</p>
    <ul>
        <li>Please ensure you have registered and verified your email address before logging in. If you have already done this, click the ‘Forgot your password’ link on the login page and follow the instructions. If the problem persists, please get in touch.</li>
    </ul>
<p>I need to change my personal details. How can I let The UFP know?</p>
    <ul>
        <li>After logging in, please go to ‘Account’ in the menu bar, and you can change your password or email address on there. Please note you cannot change your username for the season.</li>
    </ul>
<p>What do you do with my personal details?</p>
    <ul>
        <li>Please see our GDPR notice for the details about what information we hold, why we need it, how it is stored and what we do with it in the longer term.</li>
    </ul>

<h4>My money</h4>
<p>Where does my payment go?</p>
    <ul>
        <li>Your money will be divided between the running costs and the prize money. As of season 2019-20, our running costs are significantly reduced, so the majority of your fee is placed into the prize pot. We do not make a profit from your entrance fee. Please see our accountancy document once the deadline has passed.</li>
    </ul>
<p>I have invited a friend. When will I receive my refund?</p>
    <ul>
        <li>We process all refunds for our ‘Invite a friend’ scheme within 14 days of the deadline for entry passing. We aim to refund your money back to the same account, but we will contact you via email if we have any issues to arrange an alternative method. Please see our rules for further details.</li>
    </ul>
<p>Who wins money at the end of the season?</p>
    <ul>
        <li>The top three in the final league table will be awarded with a cash prize. If there is a tie, the money is shared equally. Please see our rules for further details.</li>
    </ul>

<h4>Other</h4>
<p>I have an issue with gambling. What can I do?</p>
    <ul>
        <li>We only accept one entrant per person per season at The UFP (max. £10). Please see our rules for the legal details. However, if you are worried that you are spending too much money on gambling more generally, please visit begambleaware.org.</li>
    </ul>
<p>I have a complaint. Who can I contact?</p>
    <ul>
        <li>We are sorry that you feel the need to complain. Whilst we have never received a single complaint in our 12 years of existence, we know that mistakes can always happen. Please get in touch if you wish to complain. We will then inform you of our complaints procedure and how your complaint will be dealt with.</li>
    </ul>
<p>Who runs The UFP?</p>
    <ul>
        <li>Tony Phillips founded the former version of The UFP, called TFQ (Tony’s Footy Quiz). The competition began as a small game between Tony and his family members, and gradually escalated to a nationwide competition. Tony, a Tranmere Rovers fan, is a teacher in a secondary school on the Wirral in Merseyside. Feel free to drop us a message if you wish to say hello!</li>
    </ul>

<!-- @if (User.IsInRole("User"))
{
    <p>It is as easy as 1,2,3.</p>
    <p>1: Click on Predictions/Pay on the bar at the top of the screen.</p>
    <p>2: Fill in your predictions. You can log off and come back to complete them any time.</p>
    <p>3: Once all your predictions are completed, a payment link will appear. Complete the payment form to enter your predictions.</p>
    <p>Note, you will be able to edit your predictions after payment up until the deadline.</p>
} else if (User.IsInRole("PaidUser"))
{
    <p>Well done! You are all ready for the season ahead.</p>
    <p>If you want to change predictions, you can at the "Edit Predictions" link on the bar at the top of the screen.</p>
    <p>The dashboard will be the place to go once the season starts!</p>
} else if (User.IsInRole("Admin"))
{
    <p>You're an admin, you should know your stuff!</p>
} else
{
    <p>To get started, register or log in.</p>
    <p>If you need further help after logging in, come back here!</p>
} -->
